# Configuración de la base de datos PostgreSQL
ADAPTERS_R2DBC_HOST=postgres          # Host de la base de datos
ADAPTERS_R2DBC_PORT=5432              # Puerto de PostgreSQL
ADAPTERS_R2DBC_DATABASE=pragma_auth   # Nombre de la base de datos
ADAPTERS_R2DBC_SCHEMA=public          # Esquema de la base de datos
ADAPTERS_R2DBC_USERNAME=postgres      # Usuario de la base de datos
ADAPTERS_R2DBC_PASSWORD=postgres      # Contraseña de la base de datos

# Perfil de Spring Boot
SPRING_PROFILES_ACTIVE=docker         # Perfil activo para Docker

# Configuración del servidor
SERVER_PORT=8080

# Configuración de logging (opcional)
LOGGING_LEVEL_CO_COM_POWERUP_PRAGMA=DEBUG
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_R2DBC=DEBUG
LOGGING_LEVEL_IO_R2DBC_POSTGRESQL=DEBUG